<div class="app">
  <div class="app-input">
    <h1 class="app-input__title">Input Attribute Value</h1>

    <mat-vertical-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Age</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Age"
              formControlName="age"
              required
            />
            <mat-hint>in years old</mat-hint>
          </mat-form-field>
          <div><button mat-button matStepperNext>Next</button></div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Sex</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Sex"
              formControlName="sex"
              required
            />
            <mat-hint>1 = male, 0 = female</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Chest-pain type</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Chest-pain type"
              formControlName="chest_pain"
              required
            />
            <mat-hint
              >1 = typical angina, 2 = atypical angina, 3 = non-anginal pain, 4
              = asymptotic</mat-hint
            >
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Resting blood pressure</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Resting blood pressure"
              formControlName="resting_blood"
              required
            />
            <mat-hint>in mmHg (on hospital admission)</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
          <ng-template matStepLabel>Serum cholesterol</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Serum cholesterol"
              formControlName="serum_cholesterol"
              required
            />
            <mat-hint>in mg/dl</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup">
          <ng-template matStepLabel
            >Fasting blood sugar > 120 mg/dl</ng-template
          >
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Fasting blood sugar > 120 mg/dl"
              formControlName="fasting_blood"
              required
            />
            <mat-hint>1 = true, 0 = false</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
          <ng-template matStepLabel>Resting ECG</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Resting ECG"
              formControlName="resting_ecg"
              required
            />
            <mat-hint
              >0 = normal, 1 = having ST-T wave abnormality, 2 = left
              ventricular hyperthrophy</mat-hint
            >
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="eigthFormGroup">
        <form [formGroup]="eigthFormGroup">
          <ng-template matStepLabel>Max-heart rate achieved</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Max-heart rate achieved"
              formControlName="maxheart_rate"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="ninthFormGroup">
        <form [formGroup]="ninthFormGroup">
          <ng-template matStepLabel>Exercise induced angina</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Exercise induced angina"
              formControlName="exercise_induced"
              required
            />
            <mat-hint>1 = yes, 0 = no</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="tenthFormGroup">
        <form [formGroup]="tenthFormGroup">
          <ng-template matStepLabel
            >ST depression induced by exercise relative to rest</ng-template
          >
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="ST depression induced by exercise relative to rest"
              formControlName="st_depression"
              required
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="eleventhFormGroup">
        <form [formGroup]="eleventhFormGroup">
          <ng-template matStepLabel>Peak exercise ST segment</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Peak exercise ST segment"
              formControlName="peak_exercise"
              required
            />
            <mat-hint>1 = upsloping, 2 = flat, 3 = downsloping</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="twelvthFormGroup">
        <form [formGroup]="twelvthFormGroup">
          <ng-template matStepLabel
            >Number of major vessels (0-3) colored by flourosopy</ng-template
          >
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Number of major vessels (0-3) colored by flourosopy"
              formControlName="number_of"
              required
            />
            <mat-hint>0 - 3</mat-hint>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="thirteenthFormGroup">
        <form [formGroup]="thirteenthFormGroup">
          <ng-template matStepLabel>Thal</ng-template>
          <mat-form-field>
            <input
              type="number"
              matInput
              placeholder="Thal"
              formControlName="thal"
              required
            />
            <mat-hint
              >3 = normal, 6 = fixed defect, 7 = reversable defect</mat-hint
            >
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset() || resetResult()">
            Reset
          </button>
          <button mat-raised-button color="primary" (click)="onFormSubmit()">
            Submit
          </button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>

  <div class="app-output">
    <div class="app-output-wrapper">
      <h1 class="app-output__title">Prediction Result</h1>
      <p class="app-output__result">{{ predictionResult }}</p>
    </div>
  </div>
</div>
