.app
  width: 100%
  min-height: 100vh
  font-family: 'Lato', sans-serif

  display: flex
  flex-direction: row

  mat-form-field
    width: 100% !important

  &-input
    padding: 50px
    flex: 1

    &__title
      margin: 25px 0
      text-align: center

  &-output
    padding: 50px
    position: relative

    background-color: #263238
    flex: 1

    &-wrapper 
      position: fixed
      width: 50%
      height: 100%
      top: 0
      right: 0

    &__title
      color: white
      text-align: center
      position: absolute
      top: 10vh
      left: 0
      right: 0

    &__result
      font-size: 250px
      transform: translateY(-50%)
      color: white
      text-align: center
      position: absolute
      top: 50vh
      left: 0
      right: 0

@media (max-width: 721px)
  .app
    flex-direction: column

    &-output
      padding: 50px
      position: relative

      background-color: #263238
      flex: 1

      &-wrapper 
        position: static
        display: flex
        flex-direction: column
        justify-content: space-between
        width: 100%
        height: 300px
      
      &__title
        position: static

      &__result
        position: static
        font-size: 100px